/* General Rules */

*,
:after,
:before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/SpaceMono-Regular.ttf) format('truetype');
    ;
}

:root {
    font-size: calc(1rem + 0.5vw, 1.5rem);
    font-family: 'Space Mono', monospace;
    color: #fffffe;
}

html {
    display: block;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: #0f0e17;
    display: block;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fffffe;
    font-size: 0.8rem;
}

a:hover {
    color: #ff8906;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 0.5rem;
}

li:hover {
    transform: scale(1.2);
}

header img {
    width: 2rem;
    height: 2rem;
}

/* Main Content Page */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/web-page-background-images-hd.jpg);
    padding: 2rem 1rem;
}

/* About Me*/

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

article p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

/* Info Icons */

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

.icons i {
    font-size: 4rem;
    padding: 0 1rem;
}

.icons p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
}

footer div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

footer p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

/* Resposiveness on Different Devices */

@media screen and (min-width: 100px) {

    header {
        height: 2rem;
    }

    header img {
        width: 1rem;
        height: 1rem;
    }

    a {
        font-size: 0.5rem;
    }

    main {
        height: 83vh;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .icons i {
        font-size: 2rem;
    }

    .icons p {
        font-size: 0.5rem;
    }

    footer {
        height: 2rem;
    }

    footer p {
        font-size: 0.5rem;
        font-weight: 200;
        margin: 0;
    }

    footer div a {
        font-size: 0.5rem;
    }

}

@media screen and (min-width: 320px) {

    header {
        height: 3rem;
    }

    header img {
        width: 1.5rem;
        height: 1.5rem;
    }

    a {
        font-size: 0.7rem;
    }

    main {
        height: 78vh;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .icons i {
        font-size: 2rem;
    }

    .icons p {
        font-size: 1rem;
    }

    footer {
        height: 3rem;
    }

    footer p {
        font-size: 0.7rem;
        font-weight: 400;
        margin: 0;
    }

    footer div a {
        font-size: 0.7rem;
    }

    footer i {
        font-size: 1rem;
    }
}

@media screen and (min-width: 360px) {
    main {
        height: 82vh;
    }
}

@media screen and (min-width: 375px) {
    main {
        height: 83vh;
    }
}

@media screen and (min-width: 389px) {
    main {
        height: 85vh;
    }
}

@media screen and (min-width: 420px) {
    main {
        height: 86vh;
    }
}


@media screen and (min-width: 680px) {
    main {
        height: 89vh;
        gap: 1rem;
        flex-direction: row;
    }

    article {
        padding: 2rem;
    }

}

@media screen and (min-width: 769px) {
    main {
        height: 90vh;
        flex-direction: row;
        gap: 1rem;
    }

    article {
        padding: 3rem;
    }

    .icons {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    .icons i {
        padding: 1rem;
    }

    footer i {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 80vw;
    }

    main {
        flex-direction: row;
        gap: 1rem;
        height: 78vh;
    }

    article {
        padding: 3rem;
    }

    .icons {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    .icons i {
        padding: 1rem;
    }

    footer i {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

@media screen and (min-height: 1280px) {
    header {
        height: 4rem;
    }

    header a {
        font-size: 1rem;
    }

    main {
        height: 92vh;
    }

    footer {
        height: 4rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }

    footer i {
        font-size: 1.5rem;
        padding: 0 1rem;
    }

    footer div a {
        font-size: 1rem;
    }

}

@media screen and (min-height: 1920px) {

    main {
        height: 91vh;
    }
}


@media screen and (min-width: 1280px) {

    main {
        height: 83vh;
    }
}

@media screen and (min-width: 1440px) {

    header a {
        font-size: 1.3rem;
    }

    main {
        height: 84vh;
        flex-direction: row;
        gap: 1rem;
    }

    article {
        padding: 3rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    article p {
        font-size: 2.5rem;

    }

    .icons {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    .icons i {
        padding: 1rem;
        font-size: 4rem;
    }

    .icons p {
        font-size: 2rem;
    }

    footer {
        height: 4rem;
    }

    footer p {
        font-size: 1.3rem;
    }

    footer a {
        font-size: 1.3rem;
    }

    footer i {
        font-size: 2rem;
        padding: 0 1rem;
    }

    footer div a {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1721px) {

    body {
        width: 90vw;
        margin: 0 auto;
    }

    main {
        height: 87vh;
    }
}


@media screen and (min-width: 1921px) {

    body {
        width: 70vw;
        margin: 0 auto;
    }

    main {
        height: 88vh;
    }
}