.main-container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 6rem 1.25rem 3rem;
}

@media (min-width: 768px) {
  .main-container {
    gap: 5rem;
    padding: 6.75rem 2rem 4rem;
  }
}

@media (min-width: 1200px) {
  .main-container {
    gap: 7rem;
    padding-inline: 3rem;
  }
}
