main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/web-page-background-images-hd.jpg);
    gap: 1rem;
    padding: 1rem;
    margin-top: 3rem;
}

h2 {
    text-align: center;
    color: #fffffe;
}

p{
    color: #fffffe;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.projects img {
    border-radius: 0.625rem;
    height: 10rem;
    width: 15rem;
    padding: 0.625rem;
}

.projects h2 {
    color: #fffffe;
    font-size: 1rem;
    padding: 0.625rem;
}

.projects img:hover {
    cursor: pointer;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}