.navbar {
  width: 100%;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick to the top */
  background-color: #0f0e17;
  z-index: 1000; /* Ensure it's above other elements */
}

.navbar.sticky {
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .menu-items li {
  list-style: none;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar .nav-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 60px;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(00.625rem);
  transition: transform 0.5s ease-in-out;
  text-align: center;
  filter: blur(4px);
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  border-radius: 0px 0px 20px 20px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.logo {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
}
